
body{
    font-family: 'Hind', sans-serif;
    letter-spacing: 5px;
    background-color: #f9f9fb;
}
header{
    position: absolute;
    left: 0;
    top: 0;
    float: left;
    width: 100%;
    z-index: -1;
}
.container-fluid{
    padding: 0 50px !important;
}
.nav-link {
    display: block;
    padding: 20px !important;
    border-left:1px solid #3c3c3c; 
    border-right:1px solid #3c3c3c; 
    color: #fff !important;
    font-size: 22px !important;
}
.nav-link:hover{
    color: #999999 !important;
}
.bg-dark{
    background-color: #212429 !important;
}
.navbar{
    height:330px;
    align-items: baseline;
}


/*/////////////////HOME OF BLOG START///////////////*/


.home{
    float: left;
    width: 100%;
    margin-top: 68px;
}
.bg-img{
    float: left;
    width: 100%;
    background-image: url(../images/bg.jpg);
    height: 500px;
    background-size: cover;
}
.bg-img-text{
    padding: 180px 50px 100px 100px;
}

.bg-img-text p{
    font-size: 18px;
    color: #fff;
}
.bg-img-text h1{
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;   
}
 .angle-90{    
    margin: 0;
    font-size: 18px;
    color: #fff;
}
.angle-text{
    transform: rotate(90deg);
}
.text-angle-padding{
    padding:200px 0 0 0;
}
.subscribe{
    float:left;
    width:100%;
    padding: 2rem;
    background-color: #f7f7f7;
}
.subscribe p{
    font-size: 20px;
    color: #212121;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 2px;
}
.subscribe .form-control{
    height: 50px;
    border:1px solid #f3f3f3;
    border-radius:0;
}
.subscribe button{
    font-size: 14px;
    background-color: #212121;
    border-radius: 0;
    color: #fff;
    border:0;
    font-weight: bold;
    height: 50px;
    width:100%;
}
/*/////////////////HOME OF BLOG END///////////////*/

.blog-post{
    float: left;
    width: 100%;
    padding: 60px 0;
}
.top-m-icon{
    width:40px;
    height: 40px;
    padding: 10px 0;
    background: #212121;
    color: #fff;
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -13px;
    font-size: 20px !important;
}
.post-1{
    float: left;
    width: 100%;
    background: #fff;
    border:1px solid #f1f1f3;
    letter-spacing: 2px;
    margin:0 0 30px 0;
    text-align: center;
    position: relative;
}
.post-body{
    float: left;
    width: 100%;
    padding: 3rem 2rem 2rem 2rem;
    border-bottom:1px solid #f1f1f3;
}
.heading-top{
    color: #999999;
    font-size: 14px;
    text-transform: uppercase;
}
.heading-bottom{
    color: #999999;
    font-size: 14px;
    text-transform: uppercase;
}
.post-body h4{
    color: #212121;
    font-size: 20px;
    text-transform: uppercase;
}
.post-body .text{
    color: #464646;
    font-size: 15px;
    line-height: 1.7;
}
.post-body button{
    border: 0;
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    padding:7px 1rem;
    color: #212121;
    font-size: 14px;
    background: transparent;
    text-transform: uppercase;
    margin: 15px 0;
}
.post-footer{
    float: left;
    width: 100%;
    padding:1rem 2rem ;
}
.post-footer p{
    margin: 0;
    text-transform: uppercase;
    color: #999999;
    font-size: 14px;
}
.post-footer span{
    color: #464646;
    font-size: 16px;
}
.post-social ul{
    margin: 0;
    padding: 0;
}
.post-social ul li{
    display: inline-block;
}
.post-social ul li a{
    padding: 0 8px;
    color: #464646;
}


/* ////////////////////////Main Home///////////////////////// */

.main-home{
    float: left;
    width: 100%;
    padding: 100px 0;
}
.post-home-1{
    float: left;
    width: 100%;
    border:1px solid #f1f1f3;
    letter-spacing: 2px;
    margin:0 0 30px 0;
    text-align: center;
    position: relative;
}
.post-home-1 .post-body{
    float: left;
    width: 100%;
    padding: 5rem 4rem 4rem 4rem;
    border-bottom:1px solid #f1f1f3;
}

.post-home-1 .heading-top{
    color: #999999;
    font-size: 16px;
    text-transform: uppercase;
}
.post-home-1 .heading-bottom{
    color: #999999;
    font-size: 16px;
    text-transform: uppercase;
}
.post-home-1 h4{
    color: #212121;
    font-size: 28px;
    text-transform: uppercase;
}
.post-home-1 .text{
    color: #464646;
    font-size: 15px;
    line-height: 1.7;
}
.post-home-1 .post-body .text-light{
    color: #fff;
    font-size: 20px;
}


/*//////////////// right-post/////////////// */

.right-post{
    float: left;
    width: 100%;
    padding: 3rem;
    background-color: #fff;
}
.right-post .form-control{
    height: 50px;
    border:1px solid #f3f3f3;
    border-radius:0;
}
.right-post .input-group-text{
    font-size: 14px;
    background-color: #212121;
    border-radius: 0;
    color: #fff;
    border:0;
    font-weight: bold;
    height: 50px;
    width: 50px;
    padding-left: 16px;
    font-size: 18px !important;
}
.right-post-cat{
    float: left;
    width: 100%;
}
.Catagories{
    float: left;
    width: 100%;
    padding-top: 20px;
    text-align: center;
    letter-spacing: 2px;
}
.Catagories h5{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid #f7f7f7 !important;
    letter-spacing: 2px;
    padding-bottom: 20px;
    text-align: center;
    color: #212121;
}
.Catagories table tr td{
    font-size: 16px !important;
    border-bottom: 1px solid #f7f7f7 !important;
    text-transform: uppercase;
    border-top: 0;
    letter-spacing: 2px;
    color: #212121;
}
.Latest-Post{
    float: left;
    width: 100%;
    padding-top: 20px;
    letter-spacing: 2px;
}
.Latest-Post h5{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid #f7f7f7 !important;
    letter-spacing: 2px;
    padding-bottom: 20px;
    text-align: center;
    color: #212121;
}
.Latest-Post h6{
    font-size: 16px;
    font-weight: bold;
    color: #212121;
    text-transform: uppercase;
}
.Latest-Post span{
    font-size: 16px;
    color: #999999;
}
.home-post-social ul{
    margin: 0;
    padding: 0;
    text-align: center;
}
.home-post-social ul li{
    display: inline-block;
}
.home-post-social ul li a span{
    padding: 0 16px;
    color: #464646;
    font-size: 24px !important;
}
/* ////////////////////////Main Home End///////////////////////// */

/* ///////////////Blog Detail///////////////////// */

.post-angle{
    float: left;
    width: 100%;
}
.post-angle p{
    margin: 0;
}
.post-angle .Previous-post{
    padding: 50px 0;
    background-color: #000000;
    font-size: 14px;
    text-align: center;
    color: #fff;
    margin: 0;
    cursor: pointer;
}
.post-angle .Next-post{
    padding: 50px 0;
    background-color: #3a3c49;
    font-size: 14px;
    text-align: center;
    color: #fff;
    margin: 0;
    cursor: pointer;
}
.all-post{
    float: left;
    width: 100%;
    padding: 30px 0;
    letter-spacing: 2px;
}
.media-body h4{
    font-size: 16px;
    color: #212121;
    text-transform: uppercase;
}
.media-body h4 span{
    float:right
}

.detail-social{
    float: left;
    width: 100%;
}
.icon-social{
    width:100%;
    float: left;
    background-color: #fff;
}
.icon-left{
    float: left;
    padding: 15px 20px 15px 20px;
    border: 1px solid #f7f7f7;
    line-height: 0.7;
    color:#212121;
}
.icon-left:hover{
    background-color: #212121;
    color:#fff;
    cursor: pointer;
}
.likes{
    max-width: 100%;
    border: 1px solid #f7f7f7;
    border-left:0;
}
.likes p{
    max-width: 400px;
    text-align: center;
    margin: 0;
    padding: 11px 0;
    color: #999999;
    letter-spacing: 2px;
}

/* recomended-posts */
.recomended-posts{
    float: left;
    width: 100%;
    margin: 30px 0;
    padding: 40px 30px;
    background-color: #fff;
    letter-spacing: 2px;
}
.recomended-posts p{
    font-size: 20px;
    color: #212121;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.recomended-posts span{
    padding: 10px 12px;
    background-color: #212121;
    color: #fff;
    cursor: pointer;
    border: 1px solid #212121;
}
.recomended-posts span:hover{
    padding: 10px 12px;
    background-color: #fff;
    color: #212121;
}

/* //////////////contact-US///////////////// */

.contact-map{
    float: left;
    width: 100%;
    padding:0 15px 15px 15px;
    letter-spacing: 2px;
}
.contact-adress{
    float: left;
    width: 100%;
    padding: 96px 30px;
    background-color: #fff;
}
.contact-adress h3{
    color: #212121;
    padding:0 15px;
}
.contact-adress p{
    width: 100%;
    float: left;
    font-size: 14px;
    color: #424242;
}
.contact-form{
    float: left;
    width: 100%;
    padding: 2rem 0;
}
.contact-form .form-control{
    height: 50px;
    border:1px solid #f3f3f3;
    border-radius:0;
}
.contact-form  .form-control-m{
    height: auto;
}
.contact-form  button{
    width: 170px;
    height: 50px;
    color: #fff;
    background-color: #212121;
    text-transform: uppercase;
    border: 0;
}
.F404{
    float: left;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.body404{
    text-align: center;
    letter-spacing: 2px;
    color: #212121;
}
.body404 img{
    display: inline-block;
}
.body404 h5 a{
    color: #424242;
}
.content-justify-center{
    justify-content: center;
}
.search-404{
    float: left;
    width: 100%;
}
.search-404 .form-control{
    height: 50px;
    border:1px solid #f3f3f3;
    border-radius:0;
}
.search-404 .input-group-text{
    font-size: 14px;
    background-color: #212121;
    border-radius: 0;
    color: #fff;
    border:0;
    font-weight: bold;
    height: 50px;
    padding-left: 16px;
    font-size: 18px !important;
    padding: 0 30px;
}
/* blog-footer */
.blog-footer{
    float: left;
    width: 100%;
    padding: 50px 0;
    background-color: #212429;
}
.about-blog{
    float: left;
    width: 100%;
}
.about-blog h5{
    font-size: 16px;
    color: #fff;
    text-transform:uppercase;
    letter-spacing: 2px;
    padding-bottom: 1.5rem;

}
.about-blog p{
    font-size: 15px;
    color: #fff;
    letter-spacing: 2px;
}
.latest-tweets{
    float: left;
    width: 100%;
}
.latest-tweets h5{
    font-size: 16px;
    color: #fff;
    text-transform:uppercase;
    padding-bottom: 1.5rem;
    letter-spacing: 2px;
}
.latest-tweets .mail{
    font-size: 14px;
    color: #fff;
    letter-spacing: 2px;
}
.latest-tweets .text{
    font-size: 15px;
    color: #fff;
    letter-spacing: 2px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.latest-comment h5{
    font-size: 16px;
    color: #fff;
    text-transform:uppercase;
    padding-bottom: 1.5rem;
    letter-spacing: 2px;
}
.latest-comment .mail{
    font-size: 14px;
    color: #fff;
    letter-spacing: 2px;
}
.latest-comment .text{
    font-size: 15px;
    color: #fff;
    letter-spacing: 2px;
    padding-bottom: 20px;
}
@media (max-width: 1200px){
    .bg-img{
        background-image: url(../images/bg.jpg);
        height: 350px;
        margin:75px 0 0 0;
    }
    .navbar{
        height:260px;
        align-items: baseline;
    }
}

@media (max-width: 600px){
    .social-media{
        display: none;
    }
    .container-fluid{
        padding: 0 15px !important;
    }
    .bg-img{
        background-image: url(../images/bg.jpg);
        height: 250px;
        margin:75px 0 0 0;
    }
    .navbar{
        height:200px;
        align-items: baseline;
    }
}
