
body{
    font-family: 'Hind', sans-serif;
    letter-spacing: 5px;
    background-color: #f9f9fb;
}
header{
    position: absolute;
    left: 0;
    top: 0;
    float: left;
    width: 100%;
    z-index: -1;
}
.container-fluid{
    padding: 0 50px !important;
}
.nav-link {
    display: block;
    padding: 20px !important;
    border-left:1px solid #3c3c3c; 
    border-right:1px solid #3c3c3c; 
    color: #fff !important;
    font-size: 22px !important;
}
.nav-link:hover{
    color: #999999 !important;
}
.bg-dark{
    background-color: #212429 !important;
}
.navbar{
    height:330px;
    align-items: baseline;
}


/*/////////////////HOME OF BLOG START///////////////*/


.home{
    float: left;
    width: 100%;
}
.bg-img{
    float: left;
    width: 100%;
    background-image: url(../images/bg.jpg);
    height: 500px;
    margin:68px 0 0 0;
    background-size: cover;
}
.bg-img-text{
    padding: 180px 50px 100px 100px;
}

.bg-img-text p{
    font-size: 18px;
    color: #fff;
}
.bg-img-text h1{
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;   
}
 .angle-90{    
    margin: 0;
    font-size: 18px;
    color: #fff;
}
.angle-text{
    transform: rotate(90deg);
}
.text-angle-padding{
    padding:200px 0 0 0;
}
.subscribe{
    float:left;
    width:100%;
    padding: 2rem;
    background-color: #f7f7f7;
}
.subscribe p{
    font-size: 20px;
    color: #212121;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 2px;
}
.subscribe .form-control{
    height: 50px;
    border:1px solid #f3f3f3;
    border-radius:0;
}
.subscribe button{
    font-size: 14px;
    background-color: #212121;
    border-radius: 0;
    color: #fff;
    border:0;
    font-weight: bold;
    height: 50px;
    width:100%;
}
/*/////////////////HOME OF BLOG END///////////////*/

.blog-post{
    float: left;
    width: 100%;
    padding: 60px 0;
}
.top-m-icon{
    width:40px;
    height: 40px;
    padding: 10px 0;
    background: #212121;
    color: #fff;
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -13px;
    font-size: 20px !important;
}
.post-1{
    float: left;
    width: 100%;
    background: #fff;
    border:1px solid #f1f1f3;
    letter-spacing: 2px;
    margin:0 0 30px 0;
    text-align: center;
    position: relative;
}
.post-body{
    float: left;
    width: 100%;
    padding: 3rem 2rem 2rem 2rem;
    border-bottom:1px solid #f1f1f3;
}
.heading-top{
    color: #999999;
    font-size: 14px;
    text-transform: uppercase;
}
.heading-bottom{
    color: #999999;
    font-size: 14px;
    text-transform: uppercase;
}
.post-body h4{
    color: #212121;
    font-size: 20px;
    text-transform: uppercase;
}
.post-body .text{
    color: #464646;
    font-size: 15px;
    line-height: 1.7;
}
.post-body button{
    border: 0;
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    padding:7px 1rem;
    color: #212121;
    font-size: 14px;
    background: transparent;
    text-transform: uppercase;
    margin: 15px 0;
}
.post-footer{
    float: left;
    width: 100%;
    padding:1rem 2rem ;
}
.post-footer p{
    margin: 0;
    text-transform: uppercase;
    color: #999999;
    font-size: 14px;
}
.post-footer span{
    color: #464646;
    font-size: 16px;
}
.post-social ul{
    margin: 0;
    padding: 0;
}
.post-social ul li{
    display: inline-block;
}
.post-social ul li a{
    padding: 0 8px;
    color: #464646;
}





/* blog-footer */
.blog-footer{
    float: left;
    width: 100%;
    padding: 50px 0;
    background-color: #212429;
}
.about-blog{
    float: left;
    width: 100%;
}
.about-blog h5{
    font-size: 16px;
    color: #fff;
    text-transform:uppercase;
    letter-spacing: 2px;
    padding-bottom: 1.5rem;

}
.about-blog p{
    font-size: 15px;
    color: #fff;
    letter-spacing: 2px;
}
.latest-tweets{
    float: left;
    width: 100%;
}
.latest-tweets h5{
    font-size: 16px;
    color: #fff;
    text-transform:uppercase;
    padding-bottom: 1.5rem;
    letter-spacing: 2px;
}
.latest-tweets .mail{
    font-size: 14px;
    color: #fff;
    letter-spacing: 2px;
}
.latest-tweets .text{
    font-size: 15px;
    color: #fff;
    letter-spacing: 2px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.latest-comment h5{
    font-size: 16px;
    color: #fff;
    text-transform:uppercase;
    padding-bottom: 1.5rem;
    letter-spacing: 2px;
}
.latest-comment .mail{
    font-size: 14px;
    color: #fff;
    letter-spacing: 2px;
}
.latest-comment .text{
    font-size: 15px;
    color: #fff;
    letter-spacing: 2px;
    padding-bottom: 20px;
}
@media (max-width: 1200px){
    .bg-img{
        background-image: url(../images/bg.jpg);
        height: 350px;
        margin:75px 0 0 0;
    }
    .navbar{
        height:260px;
        align-items: baseline;
    }
}

@media (max-width: 600px){
    .social-media{
        display: none;
    }
    .container-fluid{
        padding: 0 15px !important;
    }
    .bg-img{
        background-image: url(../images/bg.jpg);
        height: 250px;
        margin:75px 0 0 0;
    }
    .navbar{
        height:200px;
        align-items: baseline;
    }
}
